@{
    ViewData["Title"] = "Home Page";
}

@model List<Territory>

<h2>Territories</h2>

<br/>

<h4>Here are the list of territories</h4>


<ul>
    @foreach (var territory in Model)
    {
        
        <li>
            
            <span>@territory.Name</span>
            @if (territory.Children.Any())
            {
                <button class="toggle-children btn" data-toggle="collapse" data-target="#@territory.Id">
                    &#9660;
                </button>
                <div class="children" style="display:none">
                    @await Html.PartialAsync("_Territory", territory.Children)
                </div>
            }
        </li>
    }
</ul>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.toggle-children').click(function () {
                $(this).toggleClass('open');
                $(this).next('.children').slideToggle();
            });
        });
    </script>
}



